<div class="answer">
    <div [ngStyle]="{'text-align': 'center', 'margin-bottom': '2em'}">
        <h2>Basic assigment 3.</h2>
    </div>
    <div class="col-xs-3">
  <button
  class="btn btn-primary"
  (click)="onDisplayDetails()"
  >{{ displayDetailsButtonLabel }}</button>
  <div class="logs" *ngIf="displayDetails">
    <p 
    *ngFor="let log of logs"
    [ngStyle]="{backgroundColor: getColor()}"
    [ngClass]="{white : ifLogsLength(5)}">
    {{ log }}</p>
  </div>
  </div>
  <div class="col-xs-8">
    <ol>
      <li>Add A button which says 'Display Details'</li>
      <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
      <li>Toggle the displaying of that paragraph with the button created in the first step</li>
      <li>Log all button clicks in an array and output that array below the secret paragraph (maybe log a timestamp or simply an incrementing number)</li>
      <li>Starting at the 5th log item, give all future log items 
        a blue background (via ngStyle) and white color (ngClass)</li>
    </ol>
  </div>
</div>