<div class="container">
    <div class="intro">
        <h1>Angular 6 Excercises</h1>
        <h4> Udemy, <a href="https://www.udemy.com/the-complete-guide-to-angular-2">Angular 6 - The Complete Guide</a></h4>
    </div>
    <div class="row excercise" id="services">
        <app-services-assigment></app-services-assigment>
    </div>
    <div class="row excercise" id="services">
        <app-services></app-services>
    </div>
    <div class="row excercise" id="directives">
        <app-directives></app-directives>
    </div>
    <div class="row excercise" id="server-console">
        <app-servers-2></app-servers-2>
    </div>
    <div class="row excercise" id="server-console">
        <app-servers-1></app-servers-1>
    </div>
    <div class="row excercise" id="assigment-cmp-databinding">
        <app-assigment-cmp-databinding></app-assigment-cmp-databinding>
    </div>
    <div class="row excercise" id="basic-assigment-3">
        <app-basic-assigment-3></app-basic-assigment-3>
    </div>
    <div class="row excercise" id="basic-assigment-2">
        <app-basic-assigment-2></app-basic-assigment-2>
    </div>
    <div class="row excercise" id="basic-assigment-1">
        <app-basic-assigment-1></app-basic-assigment-1>
    </div>
</div>